body {
    margin:0;
    height: 7310px;
    box-sizing: content-box;
}

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/

.header {
    background-color: #233446;
    width: 1920px;
    height: 655px;
}


/*
.icons {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 108px;
    height: 86px;
    width: 100%;
    box-sizing: border-box;
    /*border: red solid 2px;*/
    /*padding-right:100px;
}
*/
.circle1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 108px;
    left: 1244px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    opacity: 1;
}

.circle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 108px;
    left: 1335px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    opacity: 1;
}

.circle3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 108px;
    left: 1425px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    opacity: 1;
}

.icon1 {
    width: 31px;
    height: 30px;
}

.icon2 {
    width: 35px;
    height: 38px;    
}

.icon3 {
    width: 39px;
    height: 39px;
}

.text-box h1 {
    position: absolute;
    top: 239px;
    left: 416px;
    width: 160px;
    height: 33px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 28px/33px Roboto;
    letter-spacing: 1.12px;
    color: #FFFFFF;
    opacity: 1;
    border: red solid 2px;
}

.namn {
    position: absolute;
    top: 239px;
    left: 596px;
    width: 330px;
    height: 33px;
    text-align: left;
    font: normal normal bold 28px/33px Roboto;
    letter-spacing: 1.12px;
    color: #FFFFFF;
    opacity: 1;
    border: red solid 2px;
}

.text-box h2 {
    position: absolute;
    top: 279px;
    left: 416px;
    width: 532px;
    height: 101px;
    text-align: left;
    font: normal normal bold 83px/101px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.text-box h3 {
    position: absolute;
    top: 372px;
    left: 416px;
    width: 108px;
    height: 100px;
    text-align: left;
    font: normal normal bold 82px/100px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.text-box h4 {
    position: absolute;
    top: 483px;
    left: 416px;
    width: 456px;
    height: 61px;
    text-align: left;
    font: normal normal bold 50px/61px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.profil {
    position: relative;
    border-radius: 50%;
    border: solid white 3px;
    top: 355px;
    left: 1174px;
    width: 333px;
    height: 333px;
    opacity: 1;
    margin:0;
  }

  .about {
      width: 1920px;
      height: 439px;
      background: #C19D96;
      
  }

  p {
    position: absolute;
    top: 785px;
    left: 416px;
    width: 1088px;
    height: 192px;
    font-size: 30px;
    text-align: left;
    font: normal normal normal 30px/50px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }