body {
    margin:0;
    height: 7310px;
    box-sizing: content-box;
    width: 100%;
}

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/

/*HEROIMAGE*/

.header {
    background-color: #233446;
    width: 100%;
    height: 655px;
}

.hero-image {
    width: 100%;
    height: 655px;
}
/*CONTAINER FOR THE ICONS IN HEROIMAGE*/
.icons {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
}

.circle1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 108px;
    right: 10%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    opacity: 1;
}

.circle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 108px;
    right: 17%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    opacity: 1;
}

.icon1 {
    width: 31px;
    height: 30px;
}

.icon2 {
    width: 35px;
    height: 38px;    
}
/*CONTAINER FOR THE TEXT IN HEROIMAGE*/
.text-box {
    display: flex;
    justify-content: flex-start;
    left:  20%;
    top:0;
    position: absolute;
}

.text-box h1 {
    position: absolute;
    top: 239px;
    width: 560px;
    height: 33px;
    text-align: left;
    font: normal normal normal 28px/33px Roboto;
    letter-spacing: 1.12px;
    color: #FFFFFF;
    opacity: 1;
    margin:0;
}

.text-box h2 {
    position: absolute;
    top: 279px;
    width: 532px;
    height: 101px;
    text-align: left;
    font: normal normal bold 83px/101px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin:0;
}
.text-box h3 {
    position: absolute;
    top: 372px;
    width: 500px;
    height: 100px;
    text-align: left;
    font: normal normal bold 82px/100px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin:0;
}

.text-box h4 {
    position: absolute;
    top: 483px;
    width: 500px;
    height: 61px;
    text-align: left;
    font: normal normal bold 50px/61px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin:0;
}
/*CONTAINER FOR THE PROFILE PICTURE*/
.profile {
    display: flex;
    justify-content: flex-end;
}

.profile-picture {
    position: absolute;
    right: 10%;
    top: 355px;
    border-radius: 50%;
    border: solid white 3px;
    width: 333px;
    height: 333px;
    opacity: 1;
    margin:0;
}
/*SECTION WITH TEXT ABOUT*/
.about {
    width: 100%;
    height: 439px;
    background: #C19D96;
    display: flex;
    justify-content: center;
    align-content: center;
}

.about p {
    position: absolute;
    top: 785px;
    width: 1088px;
    height: 192px;
    font-size: 30px;
    text-align: center;
    font: normal normal normal 30px/50px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin:0;
}
/*SECTION WITH TECH SKILLS*/
.tech {
    display: flex;
    justify-content: center;
    align-content: center;
}

.tech p {
    position: absolute;
    top: 1371px;
    width: 1088px;
    height: 150px;
    text-align: center;
    font: normal normal normal 30px/50px Montserrat;
    letter-spacing: 0px;
    opacity: 1;
    margin:0;
}

.tech h5 {
    position: absolute;
    top: 1170px;
    width: 161px;
    height: 64px;
    text-align: center;
    font: normal normal bold 48px/58px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    background-color: #233446;
    opacity: 1;
}
/*SECTION FOR FEATURED PROJECTS*/
.project-area {
    position: absolute;
    top: 1642px;
    width: 100%;
    background: #8F6B67 0% 0% no-repeat padding-box;
    opacity: 1;
}
/*CONTAINER FOR THE HEADER*/
.featured {
    width:100%;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
}

/*HEADER TEXT STYLING*/
.featured h5 { 
    position: absolute;
    top: 128px;
    width: 562px;
    height: 58px;
    text-align: center;
    font: normal normal bold 48px/58px Montserrat;
    letter-spacing: 0px;
    opacity: 1;
    color: #FFFFFF;
    background-color: #C19D96;
    margin:0;
}

/*CONTAINER FOR THE PROJECT PICTURES AND INFO*/
.projects {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 99%;
    justify-items: center;
    text-align: left;
    /*border: red solid 2px;*/
}

.projects img{
    width: 452px;
    height: 279px;
    background: #021371 0% 0% no-repeat padding-box;
    opacity: 0.38;
}

/*TEXT ON THE PROJECT PICTURE*/
.text-container .text {
    position: absolute;
    text-align: center;
    top:40%;
    width: 452px;
    height: 279px;
    font: normal normal bold 29px/35px Montserrat;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
}


.projects h4 {
    font: normal normal bold 25px/41px Roboto;
    margin:0;
    color: #233446
}

.projects h5 {
    font: normal normal normal 23px/41px Roboto;
    margin:0;
    color: white;
}

.projects h6 {
    background: #C19D96;
    color: white;
    opacity: 1;
    width:80px;
    text-align: center;
    font: normal normal normal 16px/21px Roboto;
    margin: 0 2px 20px 2px;
}
 /*THE ARROWS AFTER THE PROJECT TEXTS */
.hashtags {
    display: flex;
    flex-direction: row;
}
 /*THE LINE UNDER THE ARROWS*/
 i {
    border-bottom: solid #233446 3px;
}
/*BOXING IN THE PROJECT TO PUT IN THE TEXT*/
.text-container {
    position: relative;
    text-decoration: none;
    width: 452px;
    
}
/*CONTAINER FOR THE LEFT COLUMN*/
.project-1-2 {
    width: 452px;
}
/*CONTAINER FOR THE RIGHT COLUMN*/
.project-3-4 {
    width: 452px;
}
/*CONTERINER FOR THE OTHER HEADER IN PROJECT AREA*/
.other-header  {
    color: #C19D96;
    text-align: center;
    width: 100%;
    font-size: 38px;
    margin-top: 100px;
    font: normal normal bold 38px/47px Montserrat;
}
/*CONTAINER FOR THE OTHER PROJECTS*/
.other-projects1 {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
/*TEXTBOX FOR THE OTHER PROJECTS TO BE ABLE TO CENTER IT 
WITH FLEXBOX*/
.o-projects {
    width: 50%;   
}

.o-projects h4 {
    font: normal normal bold 25px/41px Roboto;
    margin:10px 0 0 0;
    color: #233446
}

.o-projects h5 {
    font: normal normal normal 23px/41px Roboto;
    margin:0;
    color: white;
}

.o-projects h6 {
    background: #C19D96;
    color: white;
    opacity: 1;
    width:80px;
    text-align: center;
    font: normal normal normal 16px/21px Roboto;
    margin: 0 2px 20px 2px;
}



/*SECTION ABOUT CODE */

.about-code {
    position: absolute; 
    top: 3689px;
    border: solid red 20px; 
    width: 100%;  
}

.about-code-header {
    width:100%;
    height:200px;
    display: flex;
    justify-content: center;
    border: solid blue 20px; 
}

.about-code-header h5 {
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 0 10px 0 10px;
    height: 58px;
    text-align: center;
    font: normal normal bold 48px/58px Montserrat;
    letter-spacing: 0px;
    opacity: 1;
    color: #FFFFFF;
    background-color: #C19D96;
}

.about-code-container {
    border: solid pink 20px; 
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    
}

.column-one {
    border: solid green 2px; 
    width: 452px;
}

.column-two {
    border: solid yellow 2px; 
    width: 452px;
    text-decoration: none;
}

.more-thoughts-header {
    border: solid blue 2px; 
    color: #C19D96;
    text-align: center;
    width: 100%;
    font-size: 38px;
    margin-top: 100px;
    font: normal normal bold 38px/47px Montserrat;
}

.article-image {
    width: 452px;
    height: 279px;
    background: #021371 0% 0% no-repeat padding-box;
    opacity: 0.38;
}

.about-code-container h5 {
    font: normal normal normal 25px/41px Roboto;
    color: #8F6B67;
    margin: 0;
}

.about-code-container h6 {
    font: normal normal bold 30px/41px Roboto;
    color: #233446;
    margin: 0;
}

.about-code-container article {
    color: black;
    font: normal normal normal 25px/41px Roboto;
}

.about-code-container .arrows {
    color: #8F6B67;
    font: normal normal bold 25px/41px Roboto;
}